body { background: none repeat scroll 0 0 #FFFFFF;
    color: #4F77A3;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 11px;
    height: 100%;
    line-height: 18px;
    min-height: 850px;
    min-width: 960px;
    overflow: hidden;
    position: absolute;
    text-transform: uppercase;
    width: 100%;
    z-index: 1;
}